# Numpy Library Command

Importing Libraries

In [1]:
import numpy as np

Creating Arrays

In [2]:
a = np.array([10,20,30]) #1D Array
b = np.array([[10,20],[30,40]]) #2D Array
c = np.array([[[10,20],[20,30]],[[40,50],[50,60]]]) #3D Array

Accessing Array elemnts using Index

In [3]:
print(a[0])
print(b[1][1])
print(c[0][1][1])

10
40
30

Finding the shape of the array

In [4]:
print(a.shape)
print(b.shape)
print(c.shape)

(3,)
(2, 2)
(2, 2, 2)

Finding the dimensions of the array

In [5]:
print(a.ndim)
print(b.ndim)
print(c.ndim)

1
2
3

In [6]:
sales_data = np.array([
    [100,123,145,133],
    [200,210,155,300],
    [150,160,120,130],
    [225,233,208,210]
])

In [7]:
for day in range(len(sales_data)):
  print(f"Total sales for day : {np.sum(day)}")

Total sales for day : 0
Total sales for day : 1
Total sales for day : 2
Total sales for day : 3

In [8]:
print(f"Sales of Day 3 : {sales_data[2]}")

Sales of Day 3 : [150 160 120 130]

In [9]:
print(f"2nd Column of each row : {sales_data[:,1]}")

2nd Column of each row : [123 210 160 233]

In [10]:
print(f"Sales of Product 3 on Day2 and Day 3 : {sales_data[[1,2],2]}")

Sales of Product 3 on Day2 and Day 3 : [155 120]

In [11]:
a = np.array([1,2,3])
b = np.array([1,2,3])
a+b

array([2, 4, 6])